#skills{
    font-size: large;
    background-color: #daedff;
    border-radius: 15px 50px 30px;
    border-bottom-left-radius: 10px;
    padding-left: 2%;

}

  #MySkillsInclude{
    font-size: larger;
  }

  #SkillsTitle{
    text-align: center  ;
    padding: 2%;
  }

  #LastLI{
    padding-bottom: 2%;
  }